.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    border: 2px solid #000;
    padding: 20px;
    text-align: center;
    width: 100%;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

h2 {
    margin-bottom: 20px;
}

.alert {
    margin-top: 20px;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 252);
    background: rgba(154, 154, 251, 0.593);
}